.chart-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.full-width {
  grid-column: span 2;
}


.graph-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}


.graph-title {
  font-size: 2.7rem; /* Más grande */
  font-family:  'Montserrat', Tahoma,  Verdana, sans-serif;
  color: var(--color-primary); /* Color primario */
  margin-bottom: 20px;
  font-weight: 600;
  /* background-color: var(--color-secondary); */
  padding: 0em 1em 0.2em 0em;
  display: inline-block;
  border-bottom: 5px solid var(--color-primary);
  /* border-left: 4px solid var(--color-secondary);; */
}


.footer {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);  

  background-color: white;
  text-align: center;
  bottom: 0;
  margin-top: 1em;
  padding: 2.5em;
  font-weight: light;
  font-family: 'Montserrat';
  font-size: 1.2em;
  color: var(--color-primary)
}

.footer img {
  width: 60px;
  height: 60px;
}