/* 🏗 Estilo del header */
.header {
  position:sticky;
  top: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  padding: 50px;
  gap: 60px; /* Mayor separación entre título y logo */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  background-color: white;
  height: 250px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(3, 39, 64, 0)), url('img/probando.png');
  /* background-image: url('img/probando.png'); */
}

.header.shrink {
  height: 100px;

}

.header.shrink .header-title {
  font-size: 4rem;
  text-align: center;
}
.header.shrink .header-subtitle {

  font-size:1.2em;
  text-align: center;

}

/* 🎨 Estilo del título */
.header-title {
  font-size: 6.5rem; /* Más grande */
  font-family: "Zen Dots", sans-serif;
  margin: 0;
}

.header-subtitle {
  color: var(--color-primary);
  font-family: "Montserrat";
  font-weight: 600;
  font-size:1.5em;
  width:100%;
  text-align: center;

}
.header-button {
  border-radius:10px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */

  font-size:1.5em;
  color: var(--color-primary);
  padding:0.8em;
  display: flex;
  gap:20px;
}
/* 🔹 Colores del título "CuruxIA" */
.header-title span.curux {
  color: var(--color-primary);
}

.header-title span.ia {
  color: var(--color-secondary);
}

/* 🏷 Estilo del logo */
.header-logo {
  width: 30px; /* Más grande */
  height: 30px;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: var(--color-secondary);
}

/* 🌙 Aplicar el modo oscuro a toda la página */
.dark-mode .container {
    background-color: #121212 !important;
      color: white !important;
}

/* 🔧 Estilos para la tabla y gráficos */
.dark-mode .alert-table,
.dark-mode .graph-card {
  background-color: #3a3a3a !important;
  color: white !important;
}

/* 🔧 Asegurar que los textos dentro de la tabla sean blancos */
.dark-mode .alert-table th,
.dark-mode .alert-table td,
.dark-mode .graph-card canvas {
  color: white !important;
}

/* 🔧 Estilos para títulos */
.dark-mode .table-title,
.dark-mode .graph-title {
  color: var(--color-secondary) !important;
}

